<div class="page__container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>
      <label for="username"
        ><input
          id="usernamename"
          formControlName="username"
          type="text"
          name="username"
          placeholder="Username"
        />
      </label>
    </p>
    <p>
      <label for="password">
        <input
          id="password"
          formControlName="password"
          type="password"
          name="password"
          placeholder="Password"
        />
      </label>
    </p>
    <input type="submit" value="Submit" />
  </form>
</div>
