@import "../../app.component.scss";
.page__container {
  @include FlexCenter(column);
  margin-top: 180px;
}

.movie__table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 4rem;
}
.wishlist__star {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0;
  top: 0;
}

.image {
  width: 16rem;
}

.movie__wrapper {
  @include FlexCenter(column);
  width: 16rem;
  position: relative;
}
.movie__raiting {
  background-color: $secondaryColor;
  width: 3.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  padding-right: 2%;
  align-items: flex-end;
  color: white;
  font-size: 1.875rem;
  position: absolute;
  border-top-right-radius: 9999px;
  left: 0;
  bottom: -7.8%;
}
.movie__overview {
  position: absolute;
  width: 16rem;
  color: white;
  background-color: $primaryColor;
  z-index: 10;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  max-height: 24rem;
  overflow-y: auto;
  font-size: 1.25rem;
  text-align: center;
  opacity: 0%;
  transition: opacity 0.25s ease-in-out;
  bottom: -5.4%;
}
.movie__overview:hover {
  opacity: 100%;
  transition: opacity 0.25s ease-in-out;
}
::-webkit-scrollbar {
  display: none;
}
.movie__title {
  width: 16rem;
  text-align: center;
  font-size: 1.2rem;
  height: 2rem;
}
.btn__wrapper {
  display: flex;
  position: relative;
  left: -43%;
  margin-top: 2rem;
}
.page__btn {
  margin: 0 2rem;
}
@media only screen and (max-width: 1620px) {
  .movie__table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
  }
}

@media only screen and (max-width: 1280px) {
  .movie__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }
}

@media only screen and (max-width: 980px) {
  .movie__table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }
}

@media only screen and (max-width: 700px) {
  .movie__table {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4rem;
  }
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $primaryColor;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-top: 150%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
