<div class="page__container">
  <div>
    <div *ngFor="let item of movies" class="movie__table">
      <div *ngFor="let movie of item">
        <div class="movie__wrapper">
          <img
            src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
            alt=""
            class="image"
          />
          <p class="movie__raiting">
            {{ movie.vote_average }}
          </p>
          <p class="movie__overview">
            {{ movie.overview }}
          </p>
        </div>
        <p class="movie__title">
          {{ movie.title }}
        </p>
        <a routerLink="/movies/{{ movie.id }}">
          <app-button [btn_txt]="details"></app-button>
        </a>
      </div>
    </div>
  </div>
  <div class="btn__wrapper">
    <app-button
      class="page__btn"
      [btn_txt]="prev"
      (click)="onPrev()"
    ></app-button>
    <app-button
      class="page__btn"
      [btn_txt]="next"
      (click)="onNext()"
    ></app-button>
  </div>
</div>
