<div class="page__container">
  <div class="movie__table">
    <div *ngFor="let item of wishlist" >
      <div *ngFor="let movie of item" >
        <div class="movie__wrapper">
          <img
            src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
            alt=""
            class="image"
          />
          <p class="movie__raiting">
            {{ movie.vote_average }}
          </p>
          <p class="movie__overview">
            {{ movie.overview }}
          </p>
        </div>
        <p class="movie__title">
          {{ movie.title }}
        </p>
        <a routerLink="/movies/{{ movie.id }}">
          <app-button [btn_txt]="btnTxt"></app-button>
        </a>
      </div>
    </div>
  </div>
</div>
