@import "../../app.component.scss";

.page__container {
  @include FlexCenter(column);
  margin-top: 140px;
  padding-top: 50px;
  width: 110vw;
  height: 78vh;
}
.movie__wrapper {
  @include FlexCenter(column);
}
.image__1 {
  width: 32rem;
  position: absolute;
  bottom: 0;
  opacity: 30%;
}

.image__2 {
  width: 0;
  position: absolute;
  right: 5%;
  bottom: 13%;
}

.movie__overview {
  width: 50%;
  text-align: center;
  opacity: 100%;
}
.wishlist__btn {
  opacity: 100%;
  z-index: 45;
}
@media only screen and (min-width: 1380px) {
  .image__1 {
    width: 22rem;
    position: absolute;
    left: 5%;
    bottom: 13%;
    opacity: 100%;
  }
  .image__2 {
    width: 22rem;
    position: absolute;
    right: 5%;
    bottom: 13%;
  }
  .movie__overview {
    width: 25%;
    text-align: center;
    opacity: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .image__1 {
    width: max-content;
    position: absolute;
    bottom: -20%;
    opacity: 50%;
  }
  .movie__overview {
    width: 50%;
    text-align: center;
    opacity: 100%;
  }
}
